@import 'photoswipe-main.scss';
@import 'photoswipe-default-skin.scss';

.ywzg-launcher {
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.26);
  border-radius: 50%;
}

.ywzg-button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0;
  color: #E91E63;
  background: #E91E63;
  transition: transform 150ms ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  &[disabled] {
    cursor: wait;

    .ywzg-button__launch-icon {
      display: none;
    }
  }

  &:not([disabled]) {
    .ywzg-button__loading-icon {
      display: none;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ywzg-button__loading-icon {
  animation: 1.35s cubic-bezier(0.46, 0.19, 0.48, 0.53) reverse infinite spin;
  width: 65%;
}

.ywzg-button__launch-icon {
  width: 50%;
}

.ywzg-gallery {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #230d50;
  color: white;
  z-index: 600000;
}

[data-ywzg-gallery="closed"] {
  display: none;
}

.ywzg-gallery__close {
  position: absolute;
  top: 50px;
  right: 50px;
}

.ywzg-gallery--hidden {
  display: none;

  .test {
    color: blue;
  }
}
